header {
  border-bottom: 1px solid #ebebeb;
  .logo {
    display: block;
    width: 200px;
    padding: 20px;
    background-color: $primary-color1;
    // background-image: url(/static/images/logo.svg);
    // background-size: cover;
    // text-indent: -999em;
    color: #fff;
    text-align: center;
  }

  @include desktop {
    padding: 0 120px;
  }

  &.type-1 {
    opacity: 0.8;
    background-image: linear-gradient(to bottom, #000, rgba(0, 69, 56, 0.2) 103%);

    .logo {
      filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(108deg) brightness(104%) contrast(104%);
    }
  }
}

@media (prefers-color-scheme: dark) {
  header {
    background-color: $primary-color1;
  }
}