@import '@/public/styles/base/reset.scss';
@import '@/public/styles/base/typography.scss';
@import '@/public/styles/icon.scss';

html {
  font-size: 1px;
}

body {
  overflow-x: hidden;
  background-color: #fff;
  font-family: $font-default-name, serif;
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.25;
}

strong {
  font-weight: 700;
}

.skip-navigation {
  position: relative;
  z-index: 9999;
  a {
    position: absolute;
    top: -200px;
    left: 0;
    width: 100%;
    border: 1px solid #ddd;
    background-color: #eee;

    &:focus,
    &:active {
      top: 0;
    }
  }
}

.contents {
  @include desktop {
    @include max-width;
  }
  min-height: 80vh;
}

.about {
  background-color: aquamarine;
}