@import '@/public/styles/base/reset.scss';

html {
  font-size: 1px;
}

body {
  font-size: 16rem;
  line-height: 1.25;
  background-color: #fff;
}

.contents {
  min-height: 120vh;
}

/* 노트북 & PC (해상도 1024px)*/ 
@media all and (min-width:1024px) {} 

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/ 
@media all and (min-width:768px) and (max-width:1023px) {
  body {
    background-color: #eee;
  }
}

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/ 
@media all and (max-width:767px) {
  body {
    background-color: #ccc;
  }
}