// color
$primary-color1: #000;
$primary-color2: #fff;

$font-color1: #333;
$font-color2: #666;
$font-color3: #E1251B;
$font-color4: #5BA6D2;

$bg-color1: #f5f5f5;
$bg-color2: #f7f7f8;

$line-color1: #dfdfdf;

$point-koreanair: #5BA6D2;
$point-jinair: #2FB596;

// font
$font-default-url : '/static/fonts/Pretendard';
$font-default-name : 'Pretendard';
$font-point-url : '/static/fonts/Libre_Baskerville';
$font-point-name : 'Libre Baskerville';

//breakpoint
$breakpoint-mobile: 320px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1280px;

//width
$width-max: 1300px;

//images url
$image-url: '/static/images/';
$icon-url: '/static/images/icon/';